<div class="container">

  <%= link_to 'New Event', new_event_path, remote: true, class: "btn btn-primary btn-sm" %>

  <div id="error-messages"></div>
  <div id="event-form"></div>
  <table class="table-bordered table-striped">
    <tbody class="event-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>
<div id="event-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-event-modal" class="modal-content"></div>
  </div>
</div>
